<div class="card">
    <h3>Alienvault</h3>
    {%- if analysis_results.results[0].alienvault.count > 0 %}
        <strong>Pulses Count: </strong>{{ analysis_results.results[0].alienvault.count }}<br/>
        {% for search_result in analysis_results.results[0].alienvault.pulses %}
            <a href="{{ search_result.url }}" target="_blank" title="{{ search_result.title }}">{{ search_result.title }}</a><br/>
        {% endfor %}
        {% if analysis_results.results[0].alienvault.malware_families %}
            <p>
            <strong>Malware Families: </strong><br/>
            {{ analysis_results.results[0].alienvault.malware_families | join(', ') }}
            </p>
        {% endif %}
        {% if analysis_results.results[0].alienvault.adversary %}
            <p>
            <strong>Adversary: </strong><br/>
            {{ analysis_results.results[0].alienvault.adversary | join(', ') }}<br/>
            </p>
        {% endif %}
        <p><strong>Link: </strong><a href="{{ analysis_results.results[0].alienvault.link }}" target="_blank">See on
            Alienvault</a></p>
    {% else %}
        <p>Not found</p>
    {% endif %}
</div>
