<td>
    {% if result.crtsh %}
        <a href="{{ result.crtsh.link }}" target="_blank"><strong>details</strong></a><br/>
        {% if not result.crtsh.success %}
            Not Found
        {% else %}
            <strong>Top domains:</strong>
            <ul>
            {% for domain in result.crtsh.top_domains %}
                <li>{{ domain.domain }} ({{ domain.count }})</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        Not applicable
    {% endif %}
</td>
