<td>
    {% if result.ioc_one_pdf and result.ioc_one_pdf.results | length > 0 %}
        <strong>Search results: </strong><a href="{{ result.ioc_one_pdf.link }}" target="_blank">See on Ioc.One</a><br/> ---<br/>
        {% for search_result in result.ioc_one_pdf.results %}
            <a href="{{ search_result.source }}" target="_blank" title="{{ search_result.header }}">{{ search_result.title }}</a><br/>
        {% endfor %}
    {% elif result.ioc_one_pdf and result.ioc_one_pdf.results | length == 0 %}
        Not Found
    {% else %}
        Not applicable
    {% endif %}
</td>
