<div class="card">
    <h3>RDAP</h3>
    <p><strong>Registrar: </strong><a href="{{ analysis_results.results[0].rdap.link }}"
            target="_blank">{{ analysis_results.results[0].rdap.registrar }}</a></p>
    {% if analysis_results.results[0].rdap.abuse_contact %}
    <p><strong>Abuse contact: </strong><a
            href="mailto:{{ analysis_results.results[0].rdap.abuse_contact }}?subject=Report of abuse concerning {{ analysis_results.results[0].observable }}&body=Hello,%0D%0A%0D%0AOur team found out that your {{ analysis_results.results[0].type }} {{ analysis_results.results[0].observable }} does malicious activity.%0D%0A%0D%0APlease take actions.">{{
            analysis_results.results[0].rdap.abuse_contact }}</a></p>
    {% endif %}
    {% if analysis_results.results[0].rdap.registrant %}
    <p><strong>Registrant: </strong>{{ analysis_results.results[0].rdap.registrant }}</p>
    {% endif %}
    {% if analysis_results.results[0].rdap.organization %}
    <p><strong>Organization: </strong>{{ analysis_results.results[0].rdap.organization }}</p>
    {% endif %}
    {% if analysis_results.results[0].rdap.registrant_email %}
    <p><strong>Registrant email: </strong><a
            href="mailto:{{ analysis_results.results[0].rdap.registrant_email }}?subject=Report of abuse concerning {{ analysis_results.results[0].observable }}&body=Hello,%0D%0A%0D%0AOur team found out that your {{ analysis_results.results[0].type }} {{ analysis_results.results[0].observable }} does malicious activity.%0D%0A%0D%0APlease take actions.">{{
            analysis_results.results[0].rdap.registrant_email }}</a></p>
    {% endif %}
    <p><strong>Creation: </strong>{{ analysis_results.results[0].rdap.creation_date }}</p>
    <p><strong>Expiration: </strong>{{ analysis_results.results[0].rdap.expiration_date }}</p>
    <p><strong>Updated: </strong>{{ analysis_results.results[0].rdap.update_date }}</p>
    <p><strong>Name servers: </strong>{{ analysis_results.results[0].rdap.name_servers | join(', ') }}
    </p>
</div>
