<td>
    {% if result.rdap %}
        <strong>Registrar: </strong><a href="{{ result.rdap.link }}" target="_blank">{{ result.rdap.registrar }}</a><br/>
        {% if result.rdap.abuse_contact and result.rdap.abuse_contact != "" %}
            <strong>Abuse contact: </strong>
            <a href="mailto:{{ result.rdap.abuse_contact }}?subject=Report of abuse concerning {{ result.observable }}&body=Hello,%0D%0A%0D%0AOur team found out that your {{ result.type }} {{ result.observable }} does malicious activity.%0D%0A%0D%0APlease take actions.">{{ result.rdap.abuse_contact }}</a><br/>
        {% endif %}

        {% if result.rdap.registrant and result.rdap.registrant != "" %}
            <strong>Registrant: </strong> {{ result.rdap.registrant }}<br/>
        {% endif %}

        {% if result.rdap.organization and result.rdap.organization != "" %}
            <strong>Organization: </strong>{{ result.rdap.organization }}<br/>
        {% endif %}

        {% if result.rdap.registrant_email and result.rdap.registrant_email != "" %}
            <strong>Registrant email: </strong>
            <a href="mailto:{{ result.rdap.registrant_email }}?subject=Report of abuse concerning {{ result.observable }}&body=Hello,%0D%0A%0D%0AOur team found out that your {{ result.type }} {{ result.observable }} does malicious activity.%0D%0A%0D%0APlease take actions.">{{ result.rdap.registrant_email }}</a><br/>
        {% endif %}

        <strong>Creation: </strong>{{ result.rdap.creation_date }}<br/>
        <strong>Expiration: </strong>{{ result.rdap.expiration_date }}<br/>
        <strong>Updated: </strong>{{ result.rdap.update_date }}<br/>
        <strong>Name servers: </strong><br/>
        {% for ns in result.rdap.name_servers %}
            {{ ns }}<br/>
        {% endfor %}
    {% else %}
        Not applicable
    {% endif %}
</td>
