<td>
    {% if result.rl_analyze and result.rl_analyze.report_type == "network" %}
      <strong>Third party reputations</strong> <a href="{{ result.rl_analyze.link }}">(Link)</a><br/>
      <strong>Verdict: </strong>{{ result.rl_analyze.malicious }}/{{ result.rl_analyze.suspicious }}/{{ result.rl_analyze.reports }} <i>(Malicious/Suspicious/Total)</i><br/>
      {% if "total_files" in result.rl_analyze %}
         <strong>Downloaded files: </strong>{{ result.rl_analyze.malicious_files }}/{{ result.rl_analyze.suspicious_files }}/{{ result.rl_analyze.total_files }} <i>(Malicious/Suspicious/Total)</i><br/>
      {% endif %}
       <strong>Threats:</strong> {{ result.rl_analyze.threats }}<br/>
    {% elif result.rl_analyze and result.rl_analyze.report_type == "file" %}
      <strong>Sample summary</strong> <a href="{{ result.rl_analyze.link }}">(Link)</a><br/>
      <strong>Classification: </strong>{{ result.rl_analyze.classification }}<br/>
      <strong>Risk score: </strong>{{ result.rl_analyze.riskscore }}<br/>
      <strong>AV scanners: </strong>{{ result.rl_analyze.scanners }}/{{ result.rl_analyze.reports }} <i>(AV Scanners/Total)</i><br/>
      <strong>Threats: </strong> {{ result.rl_analyze.threats }}<br/>
    {% else %}
        Not found<br/>
    {% endif%}
</td>
