exclude: "^.*/(tests/|__version__.py)"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        types_or: [python, pyi]
      - id: end-of-file-fixer
        types_or: [python, pyi]
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix, --config=.ruff.toml]
      # Run the linter.
      - id: ruff-format
        types_or: [python, pyi]
        args: [--config=.ruff.toml]

    # Bandit SAST
    # https://bandit.readthedocs.io/en/latest/index.html
  - repo: https://github.com/PyCQA/bandit
    rev: "1.9.3"
    hooks:
      - id: bandit
        types_or: [python, pyi]
        args: ["-c", ".bandit.yml"]
