services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cyberbro
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
    restart: always
    volumes:
      - ./data:/app/data
      - ./logs:/var/log/cyberbro