requests
flask
flask-cors
flask-caching
pandas
jwt
openpyxl
dnspython
pycountry
fake_useragent
bs4
pydantic
querycontacts
flask_sqlalchemy
gunicorn
ioc-fanger
tldextract
crowdstrike-falconpy
googlesearch-python
