requests
flask
flask-cors
flask-caching
pandas
PyJWT
openpyxl
dnspython
pycountry
pydantic
querycontacts
flask_sqlalchemy
gunicorn
ioc-fanger
tldextract>=5.3.0
crowdstrike-falconpy
beautifulsoup4
tenacity
