{% extends "base.html" %}

{% block title %}Cyberbro - About{% endblock title %}

{% block content %}
<h1>{{ self.title() }}</h1>
    <p>
        Cyberbro aims to provide a simple and efficient way to check the reputation of your observables using
        multiple threat intelligence services, <br/>without having to deploy a complex solution.<br/><br/>
        This application is inspired by <a href="https://cybergordon.com/" target="_blank">CyberGordon</a> and <a
            href="https://intelowlproject.github.io/" target="_blank">IntelOwl</a>. <br/><br/>

        Cyberbro is built using Python and Flask.
    </p>

    <h2>Features</h2>
    <ul>
        <li>Handles various input types: paste raw logs, IoCs, fanged IoCs, and they will be parsed using regex.
        </li>
        <li>Checks if an observable (IP, hash, domain, URL) is malicious using services like VirusTotal, AbuseIPDB,
            IPInfo, Spur.us, IP Quality Score, MDE, Google Safe Browsing, Shodan, Abusix, Phishtank, and more.</li>
        <li>Generates comprehensive reports with search and filter features (type, country, risk, detection,
            proxy/VPN).</li>
        <li>Utilizes multithreading to speed up the process (artificially limited with time.sleep() due to free API
            usage).</li>
        <li>Performs reverse DNS lookups.</li>
        <li>Checks abuse contacts for IPs, URLs, and domains (Abusix).</li>
        <li>Allows exporting results to CSV and Excel files.</li>
        <li>Verifies if the observable has been seen on the Microsoft Defender for Endpoint (MDE) platform (your
            tenant).</li>
        <li>Supports proxy usage if needed.</li>
    </ul>

    <p>Cyberbro <strong>{{ version }}</strong></p>
        <p>For more information, visit the <a href="https://github.com/stanfrbd/cyberbro" target="_blank">GitHub repository</a>.</p>
    </div>

    <script>
        const moonIcon = "https://img.icons8.com/ios-filled/50/ffffff/moon-symbol.png";
        const sunIcon = "https://img.icons8.com/ios-filled/50/ffffff/sun.png";

        function toggleDarkMode() {
            document.body.classList.toggle("dark-mode");
            localStorage.setItem("darkMode", document.body.classList.contains("dark-mode"));
            updateDarkModeIcon();
        }

        function updateDarkModeIcon() {
            const darkModeIcon = document.getElementById("darkModeIcon");
            if (document.body.classList.contains("dark-mode")) {
                darkModeIcon.src = sunIcon;
                darkModeIcon.alt = "Light Mode";
            } else {
                darkModeIcon.src = moonIcon;
                darkModeIcon.alt = "Dark Mode";
            }
        }

        function applyDarkMode() {
            if (localStorage.getItem("darkMode") === "true") {
                document.body.classList.add("dark-mode");
            }
            updateDarkModeIcon();
        }

        applyDarkMode();
    </script>
{% endblock content %}
