{% extends "base.html" %}

{% block title %}Cyberbro - Analysis History{% endblock title %}

{% block content %}
    <h1>Cyberbro - Last 60 Analyses</h1>
    <input type="text" id="searchInput" class="filter-input" onkeyup="filterTable()" placeholder="Search...">
    <table id="historyTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Analysis ID</th>
                <th>Observables</th>
                <th>Results</th>
                <th>Engines</th>
            </tr>
        </thead>
        <tbody>
            {% for analysis in analysis_results %}
            <tr>
                <td>{{ analysis.end_time_string }}</td>
                <td><a href="/results/{{ analysis.id }}">{{ analysis.id }}</a></td>
                <td>
                    <p id="observables-in-analysis"
                        title="{{ analysis.results|map(attribute='observable')|join(', ') }}">
                        {% set observables = analysis.results|map(attribute='observable')|list %}
                        {% set display_observables = observables[:3] %}
                        {% set display_text = display_observables|join(', ') %}
                        {% if display_text|length > 150 %}
                        {{ display_text[:80] }}...
                        {% else %}
                        {{ display_text }}
                        {% endif %}
                        {% if observables|length > 3 %}...{% endif %}
                    </p>
                </td>
                <td>{{ analysis.results|length }}</td>
                <td>
                    <p id="engines-in-analysis" title="{{ analysis.selected_engines|join(', ') }}">
                        {% for engine in analysis.selected_engines[:3] %}
                        {{ engine }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        {% if analysis.selected_engines|length > 3 %}...{% endif %}
                    </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
