<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="images/terminal.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/css/flag-icons.min.css">
    <title>Observable Analysis</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        textarea {
            width: 100%;
            height: 100px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .btn {
            padding: 10px 20px;
            margin: 10px 0;
            cursor: pointer;
        }

        .high-risk {
            background-color: red;
            color: white;
        }

        .high-detection {
            background-color: red;
            color: white;
        }

        .clean-detection {
            background-color: green;
            color: white;
        }

        .warning-row {
            background-color: orange;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="startForm">
            <h1>Observable Analysis</h1>

            <!-- Observable analysis form -->
            <form id="analyzeForm" method="POST" action="/analyze">
                <label for="observables">Paste your observables here:</label>
                <textarea name="observables" placeholder="Example: 1.2.3.4, www.example.com, etc." required></textarea>
                <br>

                <div>
                    <h3>Select the engines to use:</h3>
                    <label><input type="checkbox" name="engines" value="virustotal" checked> VirusTotal</label><br>
                    <label><input type="checkbox" name="engines" value="abuseipdb" checked> AbuseIPDB</label><br>
                    <label><input type="checkbox" name="engines" value="ipinfo" checked> IPinfo</label><br>
                    <label><input type="checkbox" name="engines" value="spur" checked> Spur.us</label><br>
                    <label><input type="checkbox" name="engines" value="reverse_dns" checked> Reverse DNS </label><br>
                    <label><input type="checkbox" name="engines" value="google_safe_browsing" checked> Google Safe Browsing</label>
                </div>

                <button type="submit" class="btn">Start Analysis</button>
            </form>
        </div>

        <!-- Analysis results -->
        {% if results %}
        <script>
            // Function to hide the form when "Start Analysis" is clicked
            function hideForm() {
                document.getElementById("startForm").style.display = "none";
            }
            hideForm();
        </script>

        <h1>Analysis Results</h1>

        <button class="btn" onclick="location.href='/'">New Analysis</button>
        <!-- Export options -->
        <form method="GET" action="/export">
            <button type="submit" name="format" value="csv" class="btn">Export to CSV</button>
            <button type="submit" name="format" value="excel" class="btn">Export to Excel</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Observable</th>
                    <th>Type</th>
                    <th>Reverse DNS</th>
                    <th>IPinfo Result</th>
                    <th>AbuseIPDB Result</th>
                    <th>Spur.us Result</th>
                    <th>VirusTotal Result</th>
                    <th>Google Safe Browsing</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr class="{% if result.abuseipdb and result.abuseipdb.risk_score > 50 %}high-risk{% elif result.virustotal and result.virustotal.total_malicious > 10 %}high-detection{% elif result.virustotal and result.virustotal.community_score > 100 %}clean-detection{% elif result.spur and result.spur.tunnels not in ['Not anonymous', 'Non applicable'] %}warning-row{% endif %}">
                    <td>{{ result.observable }}</td>
                    <td>{{ result.type }}</td>
                    <!-- Reverse DNS -->
                    <td>
                        {% if result.reverse_dns %}
                        {{ result.reverse_dns.reverse_dns }}
                        {% else %}
                        Not applicable
                        {% endif %}
                    </td>
                    <!-- IPinfo -->
                    <td>
                        {% if result.ipinfo and result.reversed_success %}
                        Reverse DNS applied<br>
                        IP: {{ result.ipinfo.ip }}<br>
                        {% endif %}
                        {% if result.ipinfo %}
                        Geoloc: {{ result.ipinfo.geolocation }}<br>
                        Country: <span class="fi fi-{{ result.ipinfo.country | lower }}"></span> ({{ result.ipinfo.country }}) <br>
                        Hostname: {{ result.ipinfo.hostname }}<br>
                        ASN: {{ result.ipinfo.asn }}
                        {% else %}
                        Not applicable
                        {% endif %}
                    </td>
                    <!-- AbuseIPDB -->
                    <td>
                        {% if result.abuseipdb and result.reversed_success %}
                        Reverse DNS applied<br>
                        {% endif %}
                        {% if result.abuseipdb %}
                        Reports: 
                        <a href="{{ result.abuseipdb.link }}" target="_blank">{{ result.abuseipdb.reports }}</a><br>
                        Risk: {{ result.abuseipdb.risk_score }}%<br>
                        {% else %}
                        Not applicable
                        {% endif %}
                    </td>
                    <!-- Spur.us -->
                    <td>
                        {% if result.spur and result.reversed_success %}
                        Reverse DNS applied<br>
                        {% endif %}
                        {% if result.spur %}
                        {{ result.spur.tunnels }}<br>
                        {% else %}
                        Not applicable
                        {% endif %}
                    </td>
                    <!-- VirusTotal -->
                    <td>
                        {% if result.virustotal %}
                        Ratio: 
                        <a href="{{ result.virustotal.link }}" target="_blank">{{ result.virustotal.detection_ratio }}</a><br>
                        Community: {{ result.virustotal.community_score }}
                        {% else %}
                        Not applicable
                        {% endif %}
                    </td>
                    <!-- Google Safe Browsing -->
                    <td>
                        {% if result.google_safe_browsing %}
                        Threat: {{ result.google_safe_browsing.threat_found }} <br>
                        Details: {{ result.google_safe_browsing.details }}
                        {% else %}
                        Not applicable
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}
    </div>

</body>
</html>
