{% extends "base.html" %}
{% block title %}Cyberbro - Analysis Statistics{% endblock title %}

{% block head %}
{{ super() }}
    <style>
        .dashboard {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .dashboard-small {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding-top: 20px;
        }

        .card p {
            font-size: 1.7em;
            text-align: center;
            font-weight: bold;
        }
    </style>
{% endblock head %}

{% block content %}
    <h1>{{ self.title() }}</h1>
    <div class="dashboard">
        <div class="card">
            <h3>Observables Types</h3>
            <canvas id="observablesChart"></canvas>
        </div>
        <div class="card">
            <h3>Observables</h3>
            <canvas id="observablesRepartitionChart"></canvas>
        </div>
        <div class="card">
            <h3>Engines</h3>
            <canvas id="enginesChart"></canvas>
        </div>
    </div>
    <div class="dashboard-small">
        <div class="card small-card">
            <h3>Total Analyses</h3>
            <p>{{ stats.num_analyses }}</p>
        </div>
        <div class="card small-card">
            <h3>Unique Observables</h3>
            <p>{{ stats.num_unique_observables }}</p>
        </div>
        <div class="card small-card">
            <h3>Used Engines</h3>
            <p>{{ stats.num_unique_engines }}</p>
        </div>
    </div>
</div>
<script>
    const observablesLabels = JSON.parse('{{ stats.observable_type_count.keys() | list | tojson | safe }}');
    const observablesData = JSON.parse('{{ stats.observable_type_count.values() | list | tojson | safe }}');
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('observablesChart').getContext('2d');
    const observablesChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: observablesLabels,
            datasets: [{
                label: 'Observables Repartition',
                data: observablesData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            let label = context.label || '';
                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed !== null) {
                                label += context.parsed + ' observables';
                            }
                            return label;
                        }
                    }
                }
            }
        }
    });

    const enginesLabels = JSON.parse('{{ stats.engine_count.keys() | list | tojson | safe }}');
    const enginesData = JSON.parse('{{ stats.engine_count.values() | list | tojson | safe }}');
    const observablesRepartitionLabels = JSON.parse('{{ stats.observable_count.keys() | list | tojson | safe }}');
    const observablesRepartitionData = JSON.parse('{{ stats.observable_count.values() | list | tojson | safe }}');

    const enginesCtx = document.getElementById('enginesChart').getContext('2d');
    const enginesChart = new Chart(enginesCtx, {
        type: 'pie',
        data: {
            labels: enginesLabels,
            datasets: [{
                label: 'Engine Repartition',
                data: enginesData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            let label = context.label || '';
                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed !== null) {
                                label += context.parsed + ' engines';
                            }
                            return label;
                        }
                    }
                }
            }
        }
    });

    const observablesRepartitionCtx = document.getElementById('observablesRepartitionChart').getContext('2d');
    const observablesRepartitionChart = new Chart(observablesRepartitionCtx, {
        type: 'pie',
        data: {
            labels: observablesRepartitionLabels,
            datasets: [{
                label: 'Observable Repartition',
                data: observablesRepartitionData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            let label = context.label || '';
                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed !== null) {
                                label += context.parsed + ' observables';
                            }
                            return label;
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock content %}
