<script>
    function closeNotification() {
        document.getElementById('upgrade-notification').style.display = 'none';
    }

    function hideNotification() {
        closeNotification();
        const expirationDate = new Date();
        // Expires in 14 days
        expirationDate.setDate(expirationDate.getDate() + 14);
        localStorage.setItem('hideUpgradeNotification', JSON.stringify({ value: 'true', expires: expirationDate }));
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        const hideUpgradeNotification = JSON.parse(localStorage.getItem('hideUpgradeNotification'));
        if (hideUpgradeNotification && hideUpgradeNotification.value === 'true') {
            document.getElementById('upgrade-notification').style.display = 'none';
        }
    });
</script>

<div class="upgrade-notification" id="upgrade-notification">
    <span class="close-upgrade-notification" onclick="closeNotification()">×</span>
    A new version of Cyberbro is available! <a href="https://github.com/stanfrbd/cyberbro/" target="_blank">Upgrade</a>
    <button onclick="hideNotification()" title="Will be shown in 14 days">Don't show again</button>
</div>
