name: Build and Publish arm64 Docker image on GitHub Container Registry
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub Container Registry
        run: echo ${{ secrets.DEPLOYMENT_TOKEN }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Build Docker image for arm64
        run: docker buildx build --platform linux/arm64 -t ghcr.io/${{ github.repository_owner }}/cyberbro-arm64:latest --push .

